/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    align-items: center;
    background: #fff;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav img {
    width: 70px;
}

nav svg {
    height: 18px;
    width: 18px;
}

nav ul {
    display: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 30px 10px 30px;
}

header img {
    order: 4;
}

header h1 {
    color: #2C303F;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    font-size: 34px;
}

p {
    color: #5b5e6d;
    margin-top: 0px;
}

input {
    background: white;
    border: 1px solid rgb(214, 213, 214);
    border-radius: 4px;
    color: rgb(37, 37, 37);
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

header .link {
    font-size: 11px;
    padding-bottom: 10px;
}

header button,
main .cont-2 button {
    background: #192592;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}

main div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .cont-1 {
    background: #F4F3F4;
    padding: 10% 10% 10% 10%;
    justify-content: center;
}

main .cont-2 {
    border: 1px solid #eee;
}

main .cont-1 h2 {
    color: #2C303F;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

main .cont-1 p {
    width: 100%;
    padding: 10px;
}

main .cont-1 button {
    background: white;
    border: 1px solid #ededed;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}

main .cont-2 .p-1 {
    color: #2C303F;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
}

main .cont-2 button {
    margin-top: 5px;
}

footer .cont-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    flex-wrap: wrap;
}

footer .cont-3 ul li:first-child {
    color: #2C303F;
    font-weight: 600;
}

footer .cont-4 {
    background: #F4F3F4;
    width: 100%;
    padding: 5% 10% 10% 10%;
}

footer .cont-4 div {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #5b5e6d;
}

ul li {
    list-style: none;
}

footer .cont-4 div img {
    width: 6%;
}

main .cont-1 button {
    border: 1px solid #192592;
    color: #192592;
    font-weight: 600;    
}

@media (max-width: 780px) {
    header {
        justify-content: center;
    }
    header p {
        font-size: 16px;
    }
    header .link {
        padding: 10px 10%;
    }
    main .cont-2 {
        padding: 10% 10% 10% 10%;
        text-align: center;
    }
    header input,
    main .cont-2 input {
        width: 100%;
    }
    header button,
    main .cont-2 button {
        font-size: 12px;
        width: 100%;
    }
    header img {
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }
    main .cont-1 h2 {
        width: 100%;
        font-size: 27px;
    }
    main .cont-1 p {
        width: 100%;
        font-size: 16px;
    }
    main .cont-1 img {
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 10%;
    }
    main .cont-1 button {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    main .cont-2 .p-1 {
        font-size: 20px;
    }
    main .cont-2 .p-2 {
        font-size: 14px;
        width: 100%;
    }
    footer .cont-3 img {
        width: 100%;
        padding-right: 80%;
    }
    footer ul {
        width: 50%;
        padding: 5%;
    }
    footer .cont-3 ul li {
        font-size: 14px;
        padding: 2%;
    }
    footer .cont-4 ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    footer .cont-4 div img {
        width: 10%;
        margin-right: 10px;
    }
    footer .cont-4 div i {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 767px) and (max-width: 961px) {
    /* ------- */
    header p {
        font-size: 16px;
    }
    /* ------- */
    header input {
        width: 49%;
        margin-right: 1%;
    }
    /* ------- */
    header button {
        font-size: 12px;
        width: 30%;
        margin-right: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* ------- */
    header img {
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
    }
    main .cont-1 h2 {
        width: 100%;
        font-size: 27px;
    }
    main .cont-1 p {
        width: 100%;
        font-size: 16px;
    }
    /* ------- */
    main .cont-1 img {
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
    }
    /* ------- */
    main .cont-1 button {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 5%;
    }
    main .cont-2 {
        padding: 10% 2% 10% 2%;
    }
    main .cont-2 .p-1 {
        font-size: 30px;
        width: 50%;
        position: absolute;
        left: 7%;
    }
    main .cont-2 .p-2 {
        font-size: 14px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 1%;
        top: 25px;
    }
    main .cont-2 input {
        font-size: 14px;
        width: 20%;
        margin-right: 1%;
        padding: 25px 15px;
    }
    main .cont-2 button {
        font-size: 14px;
        width: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px 15px;
    }
    /* ------- */
    footer .cont-3 {
        align-items: flex-start;
    }
    footer .cont-3 img {
        width: 20%;
        padding-right: 5%;
    }
    /* ------- */
    footer ul {
        width: 20%;
    }
    footer .cont-3 ul li {
        font-size: 14px;
        padding: 2%;
    }
    footer .cont-4 {
        padding: 5%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    footer .cont-4 ul {
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    footer .cont-4 div {
        width: 35%;
        padding-right: 0;
        padding-left: 0;
    }
    footer .cont-4 div img {
        width: 10%;
        margin-right: 10px;
    }
    footer .cont-4 div i {
        padding-left: 5%;
        padding-right: 5%;
    }
    footer .cont-4 div i:last-child {
        padding-right: 0;
    }
}
@media (min-width: 962px) and (max-width: 1024px) {
      /* ------- */
      header p {
        font-size: 16px;
    }
    /* ------- */
    header input {
        width: 49%;
        margin-right: 1%;
    }
    /* ------- */
    header button {
        font-size: 12px;
        width: 30%;
        margin-right: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* ------- */
    header img {
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
    }
    main .cont-1 h2 {
        width: 100%;
        font-size: 27px;
    }
    main .cont-1 p {
        width: 100%;
        font-size: 16px;
    }
    /* ------- */
    main .cont-1 img {
        width: 33%;
        padding: 10% 3% 0 3%
    }
    /* ------- */
    main .cont-1 button {
        width: 100%;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 5%;
    }
    main .cont-2 {
        padding: 10% 2% 10% 2%;
    }
    main .cont-2 .p-1 {
        font-size: 30px;
        width: 50%;
        position: absolute;
        left: 7%;
    }
    main .cont-2 .p-2 {
        font-size: 14px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 1%;
        top: 25px;
    }
    main .cont-2 input {
        font-size: 14px;
        width: 20%;
        margin-right: 1%;
        padding: 25px 15px;
    }
    main .cont-2 button {
        font-size: 14px;
        width: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px 15px;
    }
    /* ------- */
    footer .cont-3 {
        align-items: flex-start;
    }
    footer .cont-3 img {
        width: 20%;
        padding-right: 5%;
    }
    /* ------- */
    footer ul {
        width: 20%;
    }
    footer .cont-3 ul li {
        font-size: 14px;
        padding: 2%;
    }
    footer .cont-4 {
        padding: 5%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    footer .cont-4 ul {
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    footer .cont-4 div {
        width: 35%;
        padding-right: 0;
        padding-left: 0;
    }
    footer .cont-4 div img {
        width: 10%;
        margin-right: 10px;
    }
    footer .cont-4 div i {
        padding-left: 5%;
        padding-right: 5%;
    }
    footer .cont-4 div i:last-child {
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        padding: 6px 10px;
        font-size: 14px;;
    }
    nav ul li:last-child{
        border: 1px solid black;
        border-radius: 4px;
    }
    svg{
        display:none;
    }
    /* ------- */
    header{
        display: flex;
        flex-wrap: wrap;
        padding: 80px 30px 10px 30px;
        flex-direction: column;
    }
    header p {
      font-size: 16px;
      display: flex;
  }
  /* ------- */
  header input {
      width: 49%;
      margin-right: 1%;
  }
  /* ------- */
  header button {
      font-size: 12px;
      width: 30%;
      margin-right: 20%;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  /* ------- */
  header img {
    width: 50%;
    padding-left: 0%;
    padding-right: 5%;
    text-align: center;
    order:0;
  }
  header input{
      display:none;
  }
  main .cont-1 h2 {
      width: 100%;
      font-size: 27px;
  }
  main .cont-1 p {
      width: 100%;
      font-size: 16px;
  }
  /* ------- */
  main .cont-1 img {
      width: 33%;
      padding: 10% 3% 0 3%
  }
  /* ------- */
  main .cont-1 button {
      width: 100%;
      margin-left: 35%;
      margin-right: 35%;
      margin-top: 5%;
  }
  main .cont-2 {
      padding: 10% 2% 10% 2%;
  }
  main .cont-2 .p-1 {
      font-size: 30px;
      width: 50%;
      position: absolute;
      left: 7%;
  }
  main .cont-2 .p-2 {
      font-size: 14px;
      width: 50%;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      left: 1%;
      top: 25px;
  }
  main .cont-2 input {
      font-size: 14px;
      width: 20%;
      margin-right: 1%;
      padding: 25px 15px;
  }
  main .cont-2 button {
      font-size: 14px;
      width: 20%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 25px 15px;
  }
  /* ------- */
  footer .cont-3 {
      align-items: flex-start;
  }
  footer .cont-3 img {
      width: 20%;
      padding-right: 5%;
  }
  /* ------- */
  footer ul {
      width: 20%;
  }
  footer .cont-3 ul li {
      font-size: 14px;
      padding: 2%;
  }
  footer .cont-4 {
      padding: 5%;
      justify-content: space-between;
      display: flex;
      align-items: center;
  }
  footer .cont-4 ul {
      width: 35%;
      display: flex;
      justify-content: space-between;
  }
  footer .cont-4 div {
      width: 35%;
      padding-right: 0;
      padding-left: 0;
  }
  footer .cont-4 div img {
      width: 10%;
      margin-right: 10px;
  }
  footer .cont-4 div i {
      padding-left: 5%;
      padding-right: 5%;
  }
  footer .cont-4 div i:last-child {
      padding-right: 0;
  }
}